.all {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.main {
  position: sticky;
  top: 0;
  left: 0;

  display: flex;
  flex-direction: row;

  gap: 50px;
}

.main2 {
  display: flex;
  flex-direction: column;

  gap: 15px;
}
